page-chooseGridModal {
  .toolbar-background{
    background-color: #eaeaea!important;
  }
  ion-navbar .toolbar-background {
    background-color: #eaeaea!important;
  }
  .searchbar-input{
    background: #ffffff!important;
  }
  ion-buttons{
    button{
      font-size: 1.5rem!important;
    }
  }
}
