page-login {
  ion-list{
    margin-top: 10%!important;
  }
  .loginButton{
    text-align: center;
    height: 40px ;
    margin-top: 55px;
    padding: 0px 40px;
    button{
      border-radius: 10px;
    }
  }
}
